<div class="phone-number"></div>

<script src="//code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="//js.callcdn.com/js/min/ringba.com.js"></script>

<script>
    ringba.campaign('CA76996a75a6964ad7a37ba32c21e806e7');
             
    $(function()
     {
        ringba.getNumber({

            // Tags can be specified by adding the tag:'value' and will be tracked for every impression.
            landingPageId:'testId'
                    
            },function (numberPoolNumber) {
            
                 // Phone numbers will be inserted into all HTML tags with the class 'phone-number'
  	             $('.phone-number').html(numberPoolNumber);
                    
            },function(){
                alert('Error function - Number not received.');
        });
    });
</script>
<!-- End of Ringba.com Call Tracking tag -->