<div class="phone-number"></div>

<!-- Must be placed at the bottom of your page below 100% of the content. -->
<script type="text/javascript" src="//js.callcdn.com/js/min/ringba.com.js"></script>
<script>
    (function(){
             
        ringba.campaign('CA76996a75a6964ad7a37ba32c21e806e7');
        
        ringba.getNumber({
        
            // Tags can be specified by adding the tag:'value' and will be tracked for every impression.
            landingPageId:'testId'
            },
              
            function(numberPoolNumber){
               replaceTextWithNumberForClass('phone-number',numberPoolNumber);
            },
              
            function(err){
              alert('Error function - Number not received.');
            }
            );

            // Phone numbers will be inserted into all HTML tags with the class 'phone-number'
            function replaceTextWithNumberForClass(cssClass,phoneNumber){
              var docs = document.getElementsByClassName(cssClass);
                if(docs){
                   for(var i=0;i<docs.length;i++){
                       docs[i].innerText=phoneNumber;
                   }
                }
            }
            
        })();
</script>
<!-- End of Ringba.com Call Tracking tag -->